<phpunit bootstrap="vendor/silverstripe/framework/tests/bootstrap.php" colors="true">
    <testsuite name="mutoco/silverstripe-mplus-import">
        <directory>tests/</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix=".php">tests/</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="SS_DATABASE_CLASS" value="SQLite3Database"/>
        <env name="SS_SQLITE_DATABASE_PATH" value=":memory:"/>
    </php>
</phpunit>
